.pipelineWrapper {
  min-height: calc(100vh - 80px);
  border-radius: 8px;
  padding: 24px 32px;
  background: #fff;
  .backWrap {
    width: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #68d5ce;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .excutionInfo {
    margin-bottom: 20px;
    border: 1px solid #e8e7e7;
    border-radius: 4px;
    padding: 0 10px;
    .ExecutionIntroWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .flowBaseInfo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .btnWrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  .flowLine {
    width: 100%;
    margin-bottom: 6px;
    .infoItem {
      color: #919191;
      font-size: 13px;
      font-family: 'PingFangSC-Regular';
      padding-right: 10px;
      vertical-align: middle;
      >span {
        color: #666;
        font-size: 13px;
        vertical-align: middle;
      }
      .strong {
        font-weight: 700;
      }
    }
  }

  .flowDetail {
    width: 100%;
    padding-bottom: 20px;
    .container {
      padding: 0px;
      overflow: auto;
      width: 100%;
      .slot {
        background-color: #f7f7f7;
        border: 1px solid #e1e1e1;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        border-radius: 4px;
        .confSteps {
          width: 100%;
          .stepTitle {
            cursor: pointer;
            &.focused {
              color: #68d5ce !important;
            }
          }
          
        }
      }
    }
  }

  .condfigModule {
    padding: 20px;
    background-color: white;
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    margin-top: 10px;
    .titleWrap {
      display: flex;
      align-items: center;
      color: #333333;
      font-size: 18px;
      font-weight: bolder;
      margin-bottom: 8px;
      border-bottom: 1px solid #e8e7e7;
      .leftPart {
        >span {
          display: inline-block;
        }
        .titleIcon {
          height: 20px;
          margin-right: 10px;
          vertical-align: middle;
          width: 6px;
          background-color: #68d5ce;
        }
        .titleContent {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}

.idlDeploy {
  .ant-table-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ant-btn {
    margin-right: 8px;
  }
}