//
$basecolor: #fe2c55; // 主色调
$linkcolor: #2f88ff;
$placeholder-color: rgba(0, 0, 0, 0.35); // input输入框的颜色 


// 公共色值
$pgc-basecolor: #555555;
$pgc-grey: #999;
$pgc-lightgrey: #f1f1f1;

$pgc-border-color: #e8e8e8;
$pgc-bgcolor: #f4f5f6;
$pgc-red: #ed4040;
$pgc-green: #34c765;
$pgc-blue: #406599;
$pgc-white: #ffffff;
$pgc-font-main: #222;
$pgc-font-sub: #999;

$gray-1: rgb(247,248,250);
$gray-2: rgb(247,248,250);
$gray-3: rgb(229,230,235);
$gray-4: rgb(201,205,212);
$gray-5: rgb(169,174,184);


//圆角标准
$pgc-radius: 4px;

//字体大小
$pgc-xs-fz: 13px;
$pgc-sm-fz: 14px;
$pgc-md-fz: 16px;
$pgc-lg-fz: 18px;
$pgc-xl-fz: 20px;
$pgc-xxl-fz: 28px;

$pgc-xs-fz-phone: 0.7rem;
$pgc-sm-fz-phone: 0.8rem;
$pgc-md-fz-phone: 0.9rem;
$pgc-lg-fz-phone: 1rem;
$pgc-xl-fz-phone: 1.25rem;
$pgc-xxl-fz-phone: 1.7rem;

//内外边距
$pgc-xl-space: 40px;
$pgc-lg-space: 30px;
$pgc-md-space: 20px;
$pgc-sm-space: 10px;
$pgc-xs-space: 5px;

//单选／多选框大小
$pgc-radio-size: 18px;
$pgc-checkbox-size: 18px;
