@font-face {
  font-family: "iconfont"; /* Project id 3304049 */
  src: url('//at.alicdn.com/t/font_3304049_95q0vd8kywv.eot?t=1649516040778'); /* IE9 */
  src: url('//at.alicdn.com/t/font_3304049_95q0vd8kywv.eot?t=1649516040778#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/font_3304049_95q0vd8kywv.woff2?t=1649516040778') format('woff2'),
       url('//at.alicdn.com/t/font_3304049_95q0vd8kywv.woff?t=1649516040778') format('woff'),
       url('//at.alicdn.com/t/font_3304049_95q0vd8kywv.ttf?t=1649516040778') format('truetype'),
       url('//at.alicdn.com/t/font_3304049_95q0vd8kywv.svg?t=1649516040778#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daohanglanxialatubiao:before {
  content: "\e618";
}

.icon-sousuotubiao:before {
  content: "\e619";
}

.icon-tuozhuai:before {
  content: "\e61a";
}

.icon-ziyuantongji:before {
  content: "\e61b";
}

.icon-gongzuotai:before {
  content: "\e61c";
}

.icon-a-VectorStroke-1:before {
  content: "\e61d";
}

.icon-a-VectorStroke-2:before {
  content: "\e61e";
}

.icon-Union:before {
  content: "\e61f";
}

.icon-danchuangcha:before {
  content: "\e620";
}

.icon-dabaoshangchuantubiao:before {
  content: "\e621";
}

.icon-shanchutubiao:before {
  content: "\e622";
}

.icon-rili:before {
  content: "\e623";
}

.icon-zhongduanguanli:before {
  content: "\e624";
}

.icon-jiemuguanli:before {
  content: "\e625";
}

.icon-wenjianshangchuananniutubiao:before {
  content: "\e626";
}

.icon-a-VectorStroke:before {
  content: "\e627";
}

.icon-ziyuanjiaocheng:before {
  content: "\e628";
}

.icon-sucaiguanli:before {
  content: "\e629";
}

.icon-xiugaimima:before {
  content: "\e62a";
}

.icon-zhuxiaotuichu:before {
  content: "\e62b";
}

.icon-daohang:before {
  content: "\e652";
}

.icon-fuzhi:before {
  content: "\e653";
}

.icon-dizhi:before {
  content: "\e654";
}

.icon-zhishi:before {
  content: "\e655";
}

.icon-jifen:before {
  content: "\e656";
}

.icon-huiyuan:before {
  content: "\e657";
}

.icon-kejian:before {
  content: "\e658";
}

.icon-guanyu:before {
  content: "\e659";
}

.icon-chazhao:before {
  content: "\e65a";
}

.icon-mima:before {
  content: "\e65b";
}

.icon-renyuan:before {
  content: "\e65c";
}

.icon-peizhi:before {
  content: "\e65d";
}

.icon-quan:before {
  content: "\e65e";
}

.icon-shangcheng:before {
  content: "\e65f";
}

.icon-qianbao:before {
  content: "\e660";
}

.icon-kefu:before {
  content: "\e661";
}

.icon-naozhong:before {
  content: "\e662";
}

.icon-dianzan:before {
  content: "\e663";
}

.icon-shaixuan:before {
  content: "\e664";
}

.icon-shuaxin:before {
  content: "\e665";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-tongzhi:before {
  content: "\e667";
}

.icon-shanchu:before {
  content: "\e668";
}

.icon-shezhi:before {
  content: "\e669";
}

.icon-xihuan:before {
  content: "\e66a";
}

.icon-shuju:before {
  content: "\e66b";
}

.icon-yijian:before {
  content: "\e66c";
}

.icon-xiaoxi:before {
  content: "\e66d";
}

.icon-xiugai:before {
  content: "\e66e";
}
