@import "~normalize.css";

.body {
  font-size: 12px;
}

#content {
  padding: 16px;
}

.tiktokopen {

  &.white-bg {
    background: white;

    .ant-table-wrapper {
      margin-top: 10px;
    }
  }

  .ant-table {

    .ant-table-tbody > tr > th,
    .ant-table-tbody > tr > td {
      word-wrap: break-word;
      word-break: break-word;
    }
  }

  .ant-checkbox-group-item {
    display: block;
  }

  .ant-btn + .ant-btn {
    margin-left: 10px;
  }

  .ant-btn-link {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &.nofooter {

    .ant-modal-footer {
      display: none;
    }
  }

  .linewrap3 {
    display: -webkit-box;
    // width: 10em;
    max-height: 6em;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .ant-card {
    margin: 20px 0;
  }

  .small-chart {

    h1 {

      em {
        color: gray;
        font-style: normal;
        float: right;
      }
    }
  }
}

.vmargin {

  & > div {
    margin: 5px 0;
  }
}

.ant-legacy-form-vertical .ant-legacy-form-item {
  margin-bottom: 10px;
}

.ant-table-wrapper {
  .ant-table-tbody > tr > td {
      word-break: break-all;
  }
  .ant-table-fixed {
      background: #f9f9f9;
  }
}
// collapse
.ant-collapse {
  background: #f9f9f9;
}
// button
.ant-btn-primary {
  color: #fff;
  background-color: #68d5ce;
  border-color: #68d5ce;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-btn-primary:hover {
  color: #fff;
  background-color: #94e3db;
  border-color: #94e3db;
}
.ant-btn-primary:focus {
  color: #fff;
  background-color: #94e3db;
  border-color: #94e3db;
}
// checkbox
.ant-checkbox-checked {
  .ant-checkbox-inner {
      background-color: #68d5ce;
      border-color: #68d5ce;
  }
}
.ant-checkbox-disabled {
  .ant-checkbox-inner {
      background-color: #f5f5f5;
  }
}

.ant-input:hover {
  border-color: #68d5ce !important;
}